#navbar
{
  position:relative;
  transition: 0.5s;
}

/* navbar */
.navbar {
  position: relative;
  width: 100%;
  height: 40px;
  overflow: hidden;
  top: 0;
  display: flex;
  background: #fff;
  transition: 0.5s;
}

.nav-left {
  background: url(http://i448.photobucket.com/albums/qq208/concept_bucket/nav-left.png)
    no-repeat;
  background-size: contain;
  width: 400px;
  height: 80px;
  float: left;
  z-index: 1;
  position: absolute;
  display: block;
  transition: 0.5s;
}

.nav-right {
  background: url(http://i448.photobucket.com/albums/qq208/concept_bucket/nav-right.png)
    no-repeat;
  background-size: contain;
  width: 400px;
  height: 80px;
  float: right;
  right: 0px;
  z-index: 1;
  position: absolute;
  display: block;
  transition: 0.5s;
}
.brand
{
  position:absolute;
  left:50%;
  transform:translate(-50%,-50%);
}
.logo-circle1 {
  height: 90px;
  width: 90px;
  z-index: 2;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
}

.top-center1 {
  margin-left: 50%;
  left: -45px;
  top: -20px;
}

.logo-circle2 {
  height: 70px;
  width: 70px;
  z-index: 2;
  background-color: #03396c;
  border-radius: 50%;
  display: block;
  position: absolute;
}

.top-center2 {
  margin-left: 50%;
  left: -35px;
  top: -10px;
}

.logo-home {
  background: url(http://i448.photobucket.com/albums/qq208/concept_bucket/nguliktech-icon.png)
    no-repeat 50% 50%;
  background-size: contain;
  width: 40px;
  height: 40px;
  float: left;
  z-index: 3;
  position: absolute;
}

.top-center3 {
  margin-left: 50%;
  left: -20px;
  top: 5px;
}


/* media control */
@media (max-width: 680px) {
  /*nav-tablet*/
  .nav-left {
    display: none;
  }
  .nav-right {
    display: none;
  }
  /*nav tanggung kiri*/
  .nav-left-tablet {
    background: url(http://i448.photobucket.com/albums/qq208/concept_bucket/nav-left-tanggung_2.png)
      no-repeat;
    background-size: contain;
    width: 300px;
    height: 80px;
    float: left;
    z-index: 1;
    position: absolute;
    display: block;
    transition: 0.5s;
  }
  /*nav tanggung kanan*/
  .nav-right-tablet {
    background: url(http://i448.photobucket.com/albums/qq208/concept_bucket/nav-right-tanggung_2.png)
      no-repeat;
    background-size: contain;
    width: 300px;
    height: 80px;
    float: right;
    right: 0px;
    z-index: 1;
    position: absolute;
    display: block;
    transition: 0.5s;
  }
}

@media (max-width: 460px) {
  /*nav-mobile*/
  .nav-mobile {
    background: url(http://i448.photobucket.com/albums/qq208/concept_bucket/nav-separator.png)
      repeat-x center;
    background-size: contain;
    width: 100%;
    height: 20px;
    z-index: 1;
    display: block;
    transition: 0.5s;
    position:absolute;
  }
  .logo-circle1 {
    top: 0px;
    transition: 0.5s;
  }
  .logo-circle2 {
    top: 10px;
    transition: 0.5s;
  }
  .logo-home {
    top: 24px;
    transition: 0.5s;
  }
  .nav-left-tablet {
    display: none;
  }
  .nav-right-tablet {
    display: none;
  }
}
